.contact-us-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.contact-us {
    flex: 1;
    padding: 10px;
    margin-left: 50px;
 
}

.cont-details{
    margin-left:10px;
}

.each-contact{
    display:flex
}

.contact-us h2 {
    color: #2c3e50;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.contact-us form {
    display: grid;
    width: 100%;
    grid-gap: 1.5rem;
}

.contact-us input,
.contact-us textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.contact-us textarea {
    grid-column: 1 / -1;
    resize: vertical;
}

.contact-us button {
    grid-column: 1 / -1;
    background-color: #030F39;
    color: #ececec;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-us button:hover {
    background-color: #191a25;
}

.side-part {
    flex: 1;
    background-color: #242424;
    border-radius: 3%;
    padding: 2rem;
    color: #f5f5f5;
    font-family: "Lato, Helvetica Neue, Helvetica, sans-serif";
}

.side-part h1 {
    margin-top: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 1rem;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

.contact-info a:hover {
    color: #ddd;
}