@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    color: #333;
}

.ebooking-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    font-family: "Oswald", sans-serif;
}

.model-container,
.form-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    border-left: 2px solid #575757;
    height: 100%;
    margin: 0 2rem;
}

.section-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #313042;
}

.form-group {
    margin-bottom: 1.5rem;
    width: 100%;
}

.form-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
    color: #333;
}

.form-input,
.form-select {
    padding: 0.2rem;
    padding-left: 0.7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    background-color: #f8f8f8;
    color: #333;
}

.form-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 1.5em;
}

#name {
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: #f8f8f8;
    color: #333;
}

.form-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 1.5em;
}

.image-container {
    text-align: center;
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    size:20px;
    box-shadow: 0 2px 8px rgba(0, 1, 1, 0.3);
    transition: transform 0.5s ease;
}

.image-container .prev-arrow,
.image-container .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(48, 46, 46, 0.5);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
    transition: background-color 0.3s ease;
}

.image-container .prev-arrow:hover,
.image-container .next-arrow:hover {
    background-color: rgba(58, 58, 58, 0.8);
}

.image-container .prev-arrow {
    left: 10px;
}

.image-container .next-arrow {
    right: 10px;
}

.car-image {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 1, 1, 0.3);
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease-in-out;
}

.car-image.slide-left {
    transform: translateX(-100%);
}

.car-image.slide-right {
    transform: translateX(100%);
}

.dealership-address {
    font-size: 1rem;
    color: #666;
}

.form-box {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    width: 100%;
}

.submit-button {
    background-color: #030F39;
    color: #fff;
    width: 100%;
    border: 2px;
    border-radius: 6px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #152663;
}