.card-social-group {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.card-social-container {
    align-items: center;
    padding: 2rem;
    background: #fff;
}

.card-social-wrapper {
    align-items: center;
    position: relative;
    margin: 20px 0;
}

.card-heading {
    display: flex;
    border-bottom: 1px solid #a5a5a5;
}

.card-social {
    border: 1px solid #a5a5a5;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.card-content {
    margin-top: 10px;
    color: #818181;
    font-weight: 50;
}

.banner {
    width: 100%;
    height: 100%;
    /* Set width to 100% to fill the container horizontally */
    /* Set height to 100% to fill the container vertically */
    overflow: hidden;
}

.cards_banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hashtag {
    color: #0084FF;
}

.tabs {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.tabs button {
    color: #444444;
    background-color: #ffffff;
    border-width: 0px;
    width:100px;
    padding: 8px 8px;
    /* Adjust the padding */
    font-size: 15px;
}

.tabs button.active {
    color: #a8a7a7;
}

.cards{
    margin-top:-50px;
}